.data-window-wrapper {
  overflow: auto;
  height: 100vh;
}

.data-window {
  background-color: #1e1e1e;
  color: black;
  overflow-wrap: break-word;
  padding: 2vh;
  overflow: auto;
}

.query-url {
  cursor: pointer;
}
